  <footer class="footer" role="contentinfo">
    <div class="content">
      <p>&copy; 2020 Patty Yau. All rights reserved.</p>
    </div>
  </footer>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@13.0.1/dist/lazyload.min.js"></script>
  <script src="{{ '/assets/js/app.min.js' | relative_url }}"></script>
</body>
</html>